*{
    margin: none;
}
.banner{
    text-align: center;
    margin-top: 200px;
    background-image:url('/images/donation9.jpg');
   background-size: cover;
   height: 500px;
   margin-top:20px;
   background-color: rgb(73, 73, 73);
   background-blend-mode: multiply;
   font-size:25px;
   color: white;
}
.one{
    padding-top:150px ;
}
.two{
    border: none;
    background-color:palevioletred ;
    border-radius: 5px;
    height:35px;
    color:whitesmoke;
    font-size:15px;
    font-weight:500;
}
.three{
    text-align: center;
    font-size: 25px;
}
.four{
    border: none;
    background-color:antiquewhite ;
    border-radius: 5px;
    height:45px;
    color:black;
   ;
}
.five{
    text-align: center;
    border: none;
    background-color:rgb(253, 60, 60);
    border-radius: 5px;
    height:35px;
    color:whitesmoke;
    font-size:15px;
    font-weight:500;
}
.six{
    text-align: center;
}
.seven{
    color: lightgray;
}
.eight{
    text-align: center;
}
.nine{
    display: flex;
    gap: 10px;
}
.tine{
    font-size: 20px;
    font-weight: 700;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px    rgba(0,0,0,0.06);  
    border-radius: 5px;
    padding: 30px;
}